<div class="b" style="padding-left: 180px;">
  <div class="navbar navbar navbar-fixed-top" style="padding-left: 35px;">
    <div class="topNav">
      <div class="container">
        <div class="alignR">
          <div class="pull-left socialNw">
            <a href="#"><span class="icon-twitter"></span></a>
            <a href="#"><span class="icon-facebook"></span></a>
            <a href="#"><span class="icon-youtube"></span></a>
            <a href="#"><span class="icon-tumblr"></span></a>
          </div>
          <a routerLink="../accueil"><span class="icon-home" style="font-size: 20px;">Accueil</span></a>
          <a href="#"><span class="icon-user" style="font-size: 20px;">Mon compte</span></a>
          <a href="#"><span class="icon-edit" style="font-size: 20px;">Inscription gratuite</span></a>
          <a routerLink="../contact"><span class="icon-envelop" style="font-size: 20px;">Contact</span></a>
          <a href="#"><span class="icon-shopping-cart" style="font-size: 20px;">2 produit</span></a>


        </div>
      </div>
    </div>
  </div>
  <!--
  Lower Header Section
  -->
  <div class="container">
    <div id="gototop"> </div>

    <!--
    Body Section
    -->
    <div class="row">
      <div id="sidebar" class="span3">
        <div class="well well-small">
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span> Moteur</a></li><hr>


          </ul>
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span> Échappement</a></li><hr>


          </ul>
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span> Train roulant</a></li><hr>


          </ul>
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span> Éclairage</a></li><hr>


          </ul>
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span> Climatisation</a></li><hr>


          </ul>
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span> Chauffage/ventilation</a></li><hr>


          </ul>
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span>  Accessoir</a></li><hr>


          </ul>

        </div>

        <div class="well well-small alert alert-warning cntr">
          <h2>50% de réduction</h2>
          <p>
            <br><a class="defaultBtn" routerLink="liste" >cliquer içi </a>
          </p>
        </div>


        <a class="shopBtn btn-block" routerLink="login">Nouveau article <br><small> cliquer içi</small></a>
        <br>
        <br>
        <ul class="nav nav-list promowrapper">
          <li>
            <div class="thumbnail">
              <a class="zoomTool" title="add to cart"><span class="icon-search"></span> voir detail</a>
              <img src="../../assets/img1/a.jpg" alt="bootstrap ecommerce templates">
              <div class="caption">
                <h4><a  href="product_details.html">Prix</a> <span class="pull-right">$22.00</span></h4>
              </div>
            </div>
          </li>


        </ul>

      </div>
      <div class="span9">
        <div class="well well-small">
          <div *ngFor="let f of articles" class="row-fluid">
            <div class="span2">
              <img src="../../assets/img1/a.jpg" alt="">
            </div>
            <div class="span6">
              <h5>{{f.nom_article}}</h5>
              <p>

                Pioneer TS-A132CI Haut-Parleurs coaxiaux à 2 voies 13 cm (300W) - Puissance max.: 300W - Puissance d'entrée: 50W - Impédance: 4Ohm - Réponse de fréquences : 48-32KHz - Sensibilité: 89dB - Dimension woofer: 12.9 cm - Cône de woofer à matrice de mica multicouche - Dimensions tweeter: 20 mm - Poids: 1.82 Kg
              </p>
            </div>
            <div class="span4 alignR">
              <form   class="form-horizontal qtyFrm"  role="form">
                <h5> {{f.prix_article}}</h5>


                <input name="prix_panier"   placeholder="{{f.prix_article}}" type="text" [(ngModel)]="panier.prix_article" />
                <input name="nom_panier"   placeholder="{{f.nom_article}}" type="text" [(ngModel)]="panier.nom_article" />
                <label class="checkbox">
                  <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <button  type="submit" class="defaultBtn" (click) = "ajouterPanier(f)"><span class=" icon-shopping-cart"></span> Add to cart</button>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
              </form>
            </div>
          </div>




          <hr class="soften">

        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
